Web References/MerchantStoreSvc/MerchantStore.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDepartments">
        <s:complexType />
      </s:element>
      <s:element name="GetDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductCatalog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepartmentNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductCatalogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductCatalogResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mercEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailExistsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="APIExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mercAPI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="APIExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIExistsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MerchantExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mercName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MerchantExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MerchantExistsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMerchant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Merchant" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddMerchantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddMerchantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactInformation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterSiteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductCatalogSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductCatalog" />
  </wsdl:message>
  <wsdl:message name="GetProductCatalogSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="EmailExistsSoapIn">
    <wsdl:part name="parameters" element="tns:EmailExists" />
  </wsdl:message>
  <wsdl:message name="EmailExistsSoapOut">
    <wsdl:part name="parameters" element="tns:EmailExistsResponse" />
  </wsdl:message>
  <wsdl:message name="APIExistsSoapIn">
    <wsdl:part name="parameters" element="tns:APIExists" />
  </wsdl:message>
  <wsdl:message name="APIExistsSoapOut">
    <wsdl:part name="parameters" element="tns:APIExistsResponse" />
  </wsdl:message>
  <wsdl:message name="MerchantExistsSoapIn">
    <wsdl:part name="parameters" element="tns:MerchantExists" />
  </wsdl:message>
  <wsdl:message name="MerchantExistsSoapOut">
    <wsdl:part name="parameters" element="tns:MerchantExistsResponse" />
  </wsdl:message>
  <wsdl:message name="AddMerchantSoapIn">
    <wsdl:part name="parameters" element="tns:AddMerchant" />
  </wsdl:message>
  <wsdl:message name="AddMerchantSoapOut">
    <wsdl:part name="parameters" element="tns:AddMerchantResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSiteSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterSite" />
  </wsdl:message>
  <wsdl:message name="RegisterSiteSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterSiteResponse" />
  </wsdl:message>
  <wsdl:portType name="MerchantStoreSoap">
    <wsdl:operation name="GetDepartments">
      <wsdl:input message="tns:GetDepartmentsSoapIn" />
      <wsdl:output message="tns:GetDepartmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductCatalog">
      <wsdl:input message="tns:GetProductCatalogSoapIn" />
      <wsdl:output message="tns:GetProductCatalogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmailExists">
      <wsdl:input message="tns:EmailExistsSoapIn" />
      <wsdl:output message="tns:EmailExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="APIExists">
      <wsdl:input message="tns:APIExistsSoapIn" />
      <wsdl:output message="tns:APIExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MerchantExists">
      <wsdl:input message="tns:MerchantExistsSoapIn" />
      <wsdl:output message="tns:MerchantExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMerchant">
      <wsdl:input message="tns:AddMerchantSoapIn" />
      <wsdl:output message="tns:AddMerchantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterSite">
      <wsdl:input message="tns:RegisterSiteSoapIn" />
      <wsdl:output message="tns:RegisterSiteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MerchantStoreSoap" type="tns:MerchantStoreSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://tempuri.org/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCatalog">
      <soap:operation soapAction="http://tempuri.org/GetProductCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailExists">
      <soap:operation soapAction="http://tempuri.org/EmailExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APIExists">
      <soap:operation soapAction="http://tempuri.org/APIExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MerchantExists">
      <soap:operation soapAction="http://tempuri.org/MerchantExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMerchant">
      <soap:operation soapAction="http://tempuri.org/AddMerchant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterSite">
      <soap:operation soapAction="http://tempuri.org/RegisterSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MerchantStoreSoap12" type="tns:MerchantStoreSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDepartments">
      <soap12:operation soapAction="http://tempuri.org/GetDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCatalog">
      <soap12:operation soapAction="http://tempuri.org/GetProductCatalog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailExists">
      <soap12:operation soapAction="http://tempuri.org/EmailExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APIExists">
      <soap12:operation soapAction="http://tempuri.org/APIExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MerchantExists">
      <soap12:operation soapAction="http://tempuri.org/MerchantExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMerchant">
      <soap12:operation soapAction="http://tempuri.org/AddMerchant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterSite">
      <soap12:operation soapAction="http://tempuri.org/RegisterSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MerchantStore">
    <wsdl:port name="MerchantStoreSoap" binding="tns:MerchantStoreSoap">
      <soap:address location="http://cis-iis2.temple.edu/Fall2015/CIS3342_tuf30050/TermProjectWS/MerchantStore.asmx" />
    </wsdl:port>
    <wsdl:port name="MerchantStoreSoap12" binding="tns:MerchantStoreSoap12">
      <soap12:address location="http://cis-iis2.temple.edu/Fall2015/CIS3342_tuf30050/TermProjectWS/MerchantStore.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>