Web References/MerchantStoreSvc/MerchantStore.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="updateURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mercName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mercURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMerchantInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mercEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMerchantInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMerchantInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailRecipient" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartments">
        <s:complexType />
      </s:element>
      <s:element name="GetDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductCatalog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepartmentNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductCatalogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductCatalogResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mercEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailExistsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="APIExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mercAPI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="APIExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIExistsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MerchantExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mercName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MerchantExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MerchantExistsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMerchant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Merchant" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddMerchantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddMerchantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OwnerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Suite" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StateName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zipcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterSiteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Purchase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerCardInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PurchaseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerLastName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterCustomerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindCartResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serialization">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StoreCartResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerEmailExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerEmailExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerEmailExistsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="updateURLSoapIn">
    <wsdl:part name="parameters" element="tns:updateURL" />
  </wsdl:message>
  <wsdl:message name="updateURLSoapOut">
    <wsdl:part name="parameters" element="tns:updateURLResponse" />
  </wsdl:message>
  <wsdl:message name="GetMerchantInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMerchantInfo" />
  </wsdl:message>
  <wsdl:message name="GetMerchantInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMerchantInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:GetPassword" />
  </wsdl:message>
  <wsdl:message name="GetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:GetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductCatalogSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductCatalog" />
  </wsdl:message>
  <wsdl:message name="GetProductCatalogSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="EmailExistsSoapIn">
    <wsdl:part name="parameters" element="tns:EmailExists" />
  </wsdl:message>
  <wsdl:message name="EmailExistsSoapOut">
    <wsdl:part name="parameters" element="tns:EmailExistsResponse" />
  </wsdl:message>
  <wsdl:message name="APIExistsSoapIn">
    <wsdl:part name="parameters" element="tns:APIExists" />
  </wsdl:message>
  <wsdl:message name="APIExistsSoapOut">
    <wsdl:part name="parameters" element="tns:APIExistsResponse" />
  </wsdl:message>
  <wsdl:message name="MerchantExistsSoapIn">
    <wsdl:part name="parameters" element="tns:MerchantExists" />
  </wsdl:message>
  <wsdl:message name="MerchantExistsSoapOut">
    <wsdl:part name="parameters" element="tns:MerchantExistsResponse" />
  </wsdl:message>
  <wsdl:message name="AddMerchantSoapIn">
    <wsdl:part name="parameters" element="tns:AddMerchant" />
  </wsdl:message>
  <wsdl:message name="AddMerchantSoapOut">
    <wsdl:part name="parameters" element="tns:AddMerchantResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSiteSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterSite" />
  </wsdl:message>
  <wsdl:message name="RegisterSiteSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterSiteResponse" />
  </wsdl:message>
  <wsdl:message name="PurchaseSoapIn">
    <wsdl:part name="parameters" element="tns:Purchase" />
  </wsdl:message>
  <wsdl:message name="PurchaseSoapOut">
    <wsdl:part name="parameters" element="tns:PurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterCustomer" />
  </wsdl:message>
  <wsdl:message name="RegisterCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="FindCartSoapIn">
    <wsdl:part name="parameters" element="tns:FindCart" />
  </wsdl:message>
  <wsdl:message name="FindCartSoapOut">
    <wsdl:part name="parameters" element="tns:FindCartResponse" />
  </wsdl:message>
  <wsdl:message name="StoreCartSoapIn">
    <wsdl:part name="parameters" element="tns:StoreCart" />
  </wsdl:message>
  <wsdl:message name="StoreCartSoapOut">
    <wsdl:part name="parameters" element="tns:StoreCartResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerEmailExistsSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerEmailExists" />
  </wsdl:message>
  <wsdl:message name="CustomerEmailExistsSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerEmailExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="MerchantStoreSoap">
    <wsdl:operation name="updateURL">
      <wsdl:input message="tns:updateURLSoapIn" />
      <wsdl:output message="tns:updateURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMerchantInfo">
      <wsdl:input message="tns:GetMerchantInfoSoapIn" />
      <wsdl:output message="tns:GetMerchantInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <wsdl:input message="tns:GetPasswordSoapIn" />
      <wsdl:output message="tns:GetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input message="tns:GetDepartmentsSoapIn" />
      <wsdl:output message="tns:GetDepartmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input message="tns:GetCustomersSoapIn" />
      <wsdl:output message="tns:GetCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductCatalog">
      <wsdl:input message="tns:GetProductCatalogSoapIn" />
      <wsdl:output message="tns:GetProductCatalogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmailExists">
      <wsdl:input message="tns:EmailExistsSoapIn" />
      <wsdl:output message="tns:EmailExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="APIExists">
      <wsdl:input message="tns:APIExistsSoapIn" />
      <wsdl:output message="tns:APIExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MerchantExists">
      <wsdl:input message="tns:MerchantExistsSoapIn" />
      <wsdl:output message="tns:MerchantExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMerchant">
      <wsdl:input message="tns:AddMerchantSoapIn" />
      <wsdl:output message="tns:AddMerchantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterSite">
      <wsdl:input message="tns:RegisterSiteSoapIn" />
      <wsdl:output message="tns:RegisterSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <wsdl:input message="tns:PurchaseSoapIn" />
      <wsdl:output message="tns:PurchaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <wsdl:input message="tns:RegisterCustomerSoapIn" />
      <wsdl:output message="tns:RegisterCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCart">
      <wsdl:input message="tns:FindCartSoapIn" />
      <wsdl:output message="tns:FindCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoreCart">
      <wsdl:input message="tns:StoreCartSoapIn" />
      <wsdl:output message="tns:StoreCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerEmailExists">
      <wsdl:input message="tns:CustomerEmailExistsSoapIn" />
      <wsdl:output message="tns:CustomerEmailExistsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MerchantStoreSoap" type="tns:MerchantStoreSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateURL">
      <soap:operation soapAction="http://tempuri.org/updateURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMerchantInfo">
      <soap:operation soapAction="http://tempuri.org/GetMerchantInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <soap:operation soapAction="http://tempuri.org/GetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://tempuri.org/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCatalog">
      <soap:operation soapAction="http://tempuri.org/GetProductCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailExists">
      <soap:operation soapAction="http://tempuri.org/EmailExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APIExists">
      <soap:operation soapAction="http://tempuri.org/APIExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MerchantExists">
      <soap:operation soapAction="http://tempuri.org/MerchantExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMerchant">
      <soap:operation soapAction="http://tempuri.org/AddMerchant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterSite">
      <soap:operation soapAction="http://tempuri.org/RegisterSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <soap:operation soapAction="http://tempuri.org/Purchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <soap:operation soapAction="http://tempuri.org/RegisterCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCart">
      <soap:operation soapAction="http://tempuri.org/FindCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreCart">
      <soap:operation soapAction="http://tempuri.org/StoreCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerEmailExists">
      <soap:operation soapAction="http://tempuri.org/CustomerEmailExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MerchantStoreSoap12" type="tns:MerchantStoreSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateURL">
      <soap12:operation soapAction="http://tempuri.org/updateURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMerchantInfo">
      <soap12:operation soapAction="http://tempuri.org/GetMerchantInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <soap12:operation soapAction="http://tempuri.org/GetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap12:operation soapAction="http://tempuri.org/GetDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap12:operation soapAction="http://tempuri.org/GetCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCatalog">
      <soap12:operation soapAction="http://tempuri.org/GetProductCatalog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailExists">
      <soap12:operation soapAction="http://tempuri.org/EmailExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APIExists">
      <soap12:operation soapAction="http://tempuri.org/APIExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MerchantExists">
      <soap12:operation soapAction="http://tempuri.org/MerchantExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMerchant">
      <soap12:operation soapAction="http://tempuri.org/AddMerchant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterSite">
      <soap12:operation soapAction="http://tempuri.org/RegisterSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <soap12:operation soapAction="http://tempuri.org/Purchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <soap12:operation soapAction="http://tempuri.org/RegisterCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCart">
      <soap12:operation soapAction="http://tempuri.org/FindCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreCart">
      <soap12:operation soapAction="http://tempuri.org/StoreCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerEmailExists">
      <soap12:operation soapAction="http://tempuri.org/CustomerEmailExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MerchantStore">
    <wsdl:port name="MerchantStoreSoap" binding="tns:MerchantStoreSoap">
      <soap:address location="http://localhost:1729/MerchantStore.asmx" />
    </wsdl:port>
    <wsdl:port name="MerchantStoreSoap12" binding="tns:MerchantStoreSoap12">
      <soap12:address location="http://localhost:1729/MerchantStore.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>